{{- $gitName := promptStringOnce . "git_name" "What is your Git name" -}}
{{- $gitEmail := promptStringOnce . "git_email" "What is your Git email" -}}

sourceDir = {{ .chezmoi.sourceDir | quote }}

[data.git]
    name = {{ $gitName | quote }}
    email = {{ $gitEmail | quote }}
