{{- $gitName := promptString "What is your Git name" -}}
{{- $gitEmail := promptString "What is your Git email" -}}
[user]
	name = {{ $gitName }}
	email = {{ $gitEmail }}

[init]
	defaultBranch = main

[pull]
	rebase = false

[push]
	autoSetupRemote = true

[branch]
	autoSetupMerge = true

[core]
	editor = nvim
	autocrlf = input

[color]
	ui = auto

[alias]
	st = status
	co = checkout
	br = branch
	ci = commit
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	unstage = reset HEAD --
	last = log -1 HEAD
	amend = commit --amend --no-edit

[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
