{{- $machineID := .decentangl.machine_id -}}
IMSG_MACHINE_ID={{ $machineID | quote }}
IMSG_SERVER_MACHINE_ID="macmini"
IMSG_SERVER_SSH_DEST="admin@macmini"
IMSG_SERVER_SSH_IDENTITY_FILE="{{ .chezmoi.homeDir }}/.ssh/id_rsa"
IMSG_REMOTE_COMMAND="~/.local/bin/imsgd"
IMSG_ACCOUNT_HINT="E:btuckerc.dev@gmail.com"
IMSG_PHONE_ACCOUNT_HINT="P:+14018626164"
IMSG_DEFAULT_LIMIT="40"
IMSG_SYNC_BACKFILL_ROWS="4000"
IMSG_SYNC_ON_READ="1"
IMSG_DUPLICATE_WINDOW_SECONDS="300"
IMSG_QUIET_HOURS_START=""
IMSG_QUIET_HOURS_END=""
{{- if eq $machineID "macmini" }}
IMSG_CHAT_DB="/Users/admin/Library/Messages/chat.db"
IMSG_ATTACHMENTS_ROOT="/Users/admin/Library/Messages/Attachments"
IMSG_STATE_ROOT="/Users/admin/srv/imsg"
IMSG_INDEX_DB="/Users/admin/srv/imsg/state/imsg.sqlite"
IMSG_PROVIDER_SEND_BIN="/opt/homebrew/bin/imsg"
{{- else }}
IMSG_CHAT_DB=""
IMSG_ATTACHMENTS_ROOT=""
IMSG_STATE_ROOT="{{ .chezmoi.homeDir }}/.local/state/imsg"
IMSG_INDEX_DB="{{ .chezmoi.homeDir }}/.local/state/imsg/imsg.sqlite"
IMSG_PROVIDER_SEND_BIN=""
{{- end }}
