OBSIDIAN_LIVESYNC_MACHINE_ID={{ .decentangl.machine_id | quote }}
OBSIDIAN_LIVESYNC_SERVER_MACHINE_ID="macmini"
OBSIDIAN_LIVESYNC_SERVER_SSH_DEST="admin@macmini.tail4d5aec.ts.net"
OBSIDIAN_LIVESYNC_SERVER_URL="https://notes.weavedweb.com"
OBSIDIAN_LIVESYNC_SERVER_ENV_FILE="/Users/admin/homelab/obsidian-sync/.env"
OBSIDIAN_LIVESYNC_SERVER_HOME="/Users/admin"
OBSIDIAN_LIVESYNC_SERVER_STATE_DIR="/Users/admin/.local/state/decent-angl/obsidian-livesync/weavedweb"
OBSIDIAN_LIVESYNC_BW_ITEM="{{ .decentangl.secrets.obsidian_livesync_item }}"
OBSIDIAN_LIVESYNC_VAULT_DIR="{{ .chezmoi.homeDir }}/notes/obsidian/weavedweb"
OBSIDIAN_LIVESYNC_CONFIG_DIR="{{ .chezmoi.homeDir }}/notes/obsidian/weavedweb/.obsidian-{{ .decentangl.machine_id }}"
OBSIDIAN_LIVESYNC_STATE_DIR="{{ .chezmoi.homeDir }}/.local/state/decent-angl/obsidian-livesync/weavedweb"
OBSIDIAN_LIVESYNC_E2EE_PASSPHRASE_FILE="{{ .chezmoi.homeDir }}/.local/state/decent-angl/obsidian-livesync/weavedweb/weavedweb.e2ee.passphrase.txt"
OBSIDIAN_LIVESYNC_SETUP_URI_FILE="{{ .chezmoi.homeDir }}/.local/state/decent-angl/obsidian-livesync/weavedweb/weavedweb.setup-uri.txt"
OBSIDIAN_LIVESYNC_SETUP_URI_PASSPHRASE_FILE="{{ .chezmoi.homeDir }}/.local/state/decent-angl/obsidian-livesync/weavedweb/weavedweb.setup-uri-passphrase.txt"
