{{- $opn := .decentangl.network.opnsense -}}
OPNSENSE_HOST="{{ get $opn "host" }}"
OPNSENSE_HOSTNAME="{{ get $opn "hostname" }}"
OPNSENSE_BW_ITEM="{{ get $opn "vault_item" }}"
OPNSENSE_SSH_BW_ITEM="{{ get $opn "ssh_vault_item" }}"
OPNSENSE_SSH_USER="{{ get $opn "ssh_user" }}"
OPNSENSE_TLS_FINGERPRINT_SHA256="{{ get $opn "tls_fingerprint_sha256" }}"
OPNSENSE_TLS_PINNED_PUBKEY_SHA256="{{ get $opn "tls_pinned_pubkey_sha256" }}"
OPNSENSE_SECRET_FILE="{{ .chezmoi.homeDir }}/.local/share/decent-angl/secrets/opnsense-api.env"
