#!/bin/zsh
# Managed by chezmoi - https://github.com/btuckerc/boilerplate
# Zsh login shell configuration

# Source .zshrc only for interactive login shells.
if [[ -o interactive ]] && [ -r "${ZDOTDIR:-$HOME}/.zshrc" ]; then
    . "${ZDOTDIR:-$HOME}/.zshrc"
fi
