[Unit]
Description=Monthly Decent Angl restic restore smoke test

[Timer]
OnCalendar=*-*-{{ printf "%02d" (int .decentangl.backup.schedule.restore_smoke.day) }} {{ printf "%02d" (int .decentangl.backup.schedule.restore_smoke.hour) }}:{{ printf "%02d" (int .decentangl.backup.schedule.restore_smoke.minute) }}:00
Persistent=true

[Install]
WantedBy=timers.target
